@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; 
}
